<h1>Listando Clientes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Endereço</th>
  </tr>

<% for cliente in @clientes %>
  <tr>
    <td><%=h cliente.nome %></td>
    <td><%=h cliente.endereco %></td>
    <td><%= link_to 'Exibir', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Excluir', cliente, :confirm => 'Você tem certeza que deseja excluir esse registro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo', new_cliente_path %>
