<h1>Listando Clientes</h1> 

<%= link_to 'Novo', new_cliente_path %><br /><br />

<table>
  <tr>
    <th>Nome</th>
    <th>E-mail</th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%=h cliente.nome %></td>
    <td><%=h cliente.email %></td>
    <td><%= link_to 'Animais', animais_path({:cliente => cliente.id}) %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Excluir', cliente, :confirm => 'Você tem certeza que deseja excluir esse registro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo', new_cliente_path %>