<h1>New cliente</h1>

<% form_for(@cliente) do |f| %>
  <%= f.error_messages %>

<table>
  <tr>
    <td><%= f.label :nome %></td>
    <td><%= f.text_field :nome %></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><%= f.submit 'Salvar' %> &nbsp; &nbsp; &nbsp; &nbsp; <%= link_to 'Cancelar', clientes_path %></td>
  </tr>
</table>

<% end %>

