<h1>Novo</h1>

<% form_for(@cliente) do |f| %>
  <%= f.error_messages %>

<table>
  <tr>
    <td><%= f.label :nome, "Nome:" %></td>
    <td><%= f.text_field :nome %></td>
  </tr>
  <tr>
    <td><%= f.label :rg, "RG:" %></td>
    <td><%= f.text_field :rg, :maxlength => "14" %></td>
  </tr>
  <tr>
    <td><%= f.label :cpf_cnpj, "CPF/CNPJ:" %></td>
    <td><%= f.text_field :cpf_cnpj, :maxlength => "18", :onkeypress => 'mascara(this,cpf_cnpj)' %> </td>
  </tr>
  <tr>
    <td><%= f.label :endereco, "Endereço: " %></td>
    <td><%= f.text_field :endereco %></td>
  </tr>
  <tr>
    <td><%= f.label :complemento, "Complemento:" %></td>
    <td><%= f.text_field :complemento %></td>
  </tr>
  <tr>
    <td><%= f.label :bairro, "Bairro:" %></td>
    <td><%= f.text_field :bairro %></td>
  </tr>
  <tr>
    <td><%= f.label :cep, "CEP: " %></td>
    <td><%= f.text_field :cep, :maxlength => "9", :onkeypress => 'mascara(this,cep)' %></td>
  </tr>
  <tr>
    <td><%= f.label :estado_id, "Estado: " %></td>
    <td><%= f.select :estado_id, "<option>Selecione o estado.</option>" << options_for_select(@estados.collect { |e| [e.sigla, e.id]})%></td>
  </tr>
  <tr id="lista_cidades">

  </tr>
  <tr>
    <td><%= f.label :telefone_residencial, "Telefone Residencial:" %></td>
    <td><%= f.text_field :telefone_residencial, :maxlength => "14", :onkeypress => 'mascara(this,telefone)'  %></td>
  </tr>
  <tr>
    <td><%= f.label :telefone_trabalho, "Telefone Comercial: " %></td>
    <td><%= f.text_field :telefone_trabalho, :maxlength => "14", :onkeypress => 'mascara(this,telefone)'   %></td>
  </tr>
  <tr>
    <td><%= f.label :celular, "Celular: " %></td>
    <td><%= f.text_field :celular, :maxlength => "14", :onkeypress => 'mascara(this,telefone)'  %></td>
  </tr>
  <tr>
    <td><%= f.label :celular_secundario, "Outro Celular: " %></td>
    <td><%= f.text_field :celular_secundario, :maxlength => "14", :onkeypress => 'mascara(this,telefone)'   %></td>
  </tr>
  <tr>
    <td><%= f.label :email, "E-mail: " %></td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td><%= f.label :twitter, "Twitter: " %></td>
    <td><%= f.text_field :twitter %></td>
  </tr>
  <tr>
    <td><%= f.submit 'Salvar' %> &nbsp; &nbsp; &nbsp; &nbsp; <%= link_to 'Cancelar', clientes_path %></td>
  </tr>
</table>

<% end %>

<%= observe_field 'cliente_estado_id',
    :url    => { :action => 'lista_cidades' },
    :with   => 'cliente_estado_id',
    :update => 'lista_cidades' %>