<h1>Editando Animaiss</h1>

<h3>Cliente: <%= @animal.cliente.nome %></h3>

<% form_for(@animal) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td><%= f.label :nome, "Nome: *" %></td>
      <td><%= f.text_field :nome %></td>
    </tr>
    <tr>
      <td><%= f.submit 'Salvar' %> &nbsp;&nbsp;&nbsp;&nbsp; <%= link_to 'Cancelar', animais_path({:cliente => @animal.cliente_id}) %></td>
    </tr>
  </table>

<% end %>

<%= link_to 'Show', @animal %> |
<%= link_to 'Back', animais_path %>