<h1>Editando Animaiss</h1>

<% form_for(@animal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome, "Nome: *" %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @animal %> |
<%= link_to 'Back', animais_path %>