<h1>Listando Animais</h1>

<h3>Cliente: <%= @cliente.nome %></h3>

<%= link_to 'Novo', new_animal_path({:cliente => @cliente.id}) %><br /><br />

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @animais.each do |animal| %>
  <tr>
    <td><%=h animal.nome %></td>
    <td><%= link_to 'Editar', edit_animal_path(animal) %></td>
    <td><%= link_to 'Excluir', animal, :confirm => 'Você tem certeza que deseja excluir esse registro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo', new_animal_path %>