<h1>Listando Animais</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Cliente</th>
  </tr>

<% for animal in @animais %>
  <tr>
    <td><%=h animal.nome %></td>
    <td><%=h animal.cliente_id %></td>
    <td><%= link_to 'Exibir', animal %></td>
    <td><%= link_to 'Editar', edit_animal_path(animal) %></td>
    <td><%= link_to 'Excluir', animal, :confirm => 'Você deseja mesmo excluir esse registro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo', new_animal_path %>
