<h1>Novo</h1>

<b>Todos os campos com "*" são de preenchimento obrigatórios.</b><br /><br />

<h3>Cliente: <%= @cliente.nome if @cliente.nome %></h3>

<% form_for(@animal) do |f| %>
  <%= f.error_messages %>

    <%= hidden_field_tag 'animal[cliente_id]', @cliente.id  %>

    <table>
      <tr>
        <td><%= f.label :nome, "Nome: *" %></td>
        <td><%= f.text_field :nome %></td>
      </tr>
      <tr>
        <td><%= f.label :tipo_id, "Tipo de Animal: *" %></td>
        <td><%= f.select :tipo_id, "<option>Selecione o tipo de animal.</option>" << options_for_select(@tipos.collect { |t| [t.nome, t.id]})%></td>
      </tr>
      <tr id="lista_racas">

      </tr>
      <tr>
        <td><%= f.submit 'Salvar' %> &nbsp;&nbsp;&nbsp;&nbsp; <%= link_to 'Cancelar', animais_path({:cliente => @cliente.id}) %></td>
      </tr>
    </table>

<% end %>

<%= observe_field 'animal_tipo_id',
    :url    => { :action => 'lista_racas' },
    :with   => 'animal_tipo_id',
    :update => 'lista_racas' %>

