<h1>Novo</h1>

<% form_for(@animal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome, "Nome: " %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :cliente_id, "Cliente: S" %><br />
    <%= f.text_field :cliente_id %>
  </p>
  <p>
    <%= f.submit "Salvar" %>
  </p>
<% end %>

<%= link_to 'Voltar', animais_path %>
