<h1>Listando Tipos de Animais</h1>

<%= link_to 'Novo', new_tipo_path %><br /><br />

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @tipos.each do |tipo| %>
  <tr>
    <td><%=h tipo.nome %></td>
    <td><%= link_to 'Editar', edit_tipo_path(tipo) %></td>
    <td><%= link_to 'Excluir', tipo, :confirm => 'Você tem certeza que deseja excluir esse registro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo', new_tipo_path %>