<h1>Listando Raças</h1>

<%= link_to 'Nova', new_raca_path %><br /><br />

<table>
  <tr>
    <th>Tipo</th>
    <th>Raça</th>
  </tr>

<% @racas.each do |raca| %>
  <tr>
    <td><%=h raca.tipo.nome %></td>
    <td><%=h raca.nome %></td>
    <td><%= link_to 'Editar', edit_raca_path(raca) %></td>
    <td><%= link_to 'Excluir', raca, :confirm => 'Você tem certeza que deseja excluir esse registro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova', new_raca_path %>