<h1>Editando Produto</h1>

<% form_for(@produto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descricao, "Descrição: " %><br />
    <%= f.text_field :descricao %>
  </p>

  <p>
    <%= f.submit "Atualizar" %>
  </p>
<% end %>

<%= link_to 'Exibir', @produto %> |
<%= link_to 'Voltar', produtos_path %>
